{% extends "baseadmin.html" %}
{% load staticfiles %}
{% load extras %}

{% block script %}
  <script type="text/javascript">
    function confirmLink(message) { //v1.0
	  if(message == "") message = "sure ?";	
    	document.returnValue = confirm(message);
    }
  </script>
{% endblock %}

{% block content %}
  <div class="subjectDiv"> Login </div>
  <div class="actionDiv">Cryptocurrencies:{{totalalbum}} | <a href="/adminadd/">Add coin</a></div>  
  <div class="normaldesc"></div>
  {% for album in albums %}
    <div class="albumDiv">
      <div>
        {% if lengths|extras:forloop.counter0 == 0 %}
          <img src="{% static "images/nopic.png" %}" alt="Not icon" width="120" height="120" border="0" />
        {% else %}
          <a href="/adminfix/{{album.id}}/"><img src="/media/{{photos|extras:forloop.counter0}}" width="120" height="120" border="0" /></a>
        {% endif %}
      </div>
      <div class="albuminfo">
        <a href="/adminfix/{{album.id}}/">{{album.atitle}}</a><br />
        <span class="smalltext">Total {{lengths|extras:forloop.counter0}} coin</span><br>
        <a href="/adminmain/{{album.id}}/" class="smalltext" 
          onClick="confirmLink('Are oyu sure want to delete the icon？'); return document.returnValue">Delete icon</a><br>
      </div>
    </div>
  {% endfor %}
{% endblock %}