{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}

{% block content %}
<style type="text/css">
.resize{
  width: auto;
  width: 200px;
}
.resize{
  height: auto;
  height: 200px;
}
</style>
  <div class="subjectDiv"> Coin </div>
    <div class="actionDiv">Coin：{{totalalbum}} </div>  
    <div class="normalDiv"></div>
    {% for album in albums %}
      <div class="albumDiv">
        <div>
        
          {% if lengths|extras:forloop.counter0 == 0 %}
            <img src="{% static "images/nopic.png" %}" alt="Not icon" width="120" height="120" border="0" />
          {% else %}
            <!-- <a href="/albumshow/{{album.id}}/">
            <img src="/media/{{photos|extras:forloop.counter0}}" width="120" height="120" border="0" /></a> -->
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter"><img src="/media/{{photos|extras:forloop.counter0}}" width="120" height="120" border="0" />
              <!-- Launch demo modal -->
            </button>
            
          {% endif %}
        </div>
        <div class="albuminfo">
            {{album.atitle}}<br />
        </div>
      </div>
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5> -->
            <h6>{{album}} Address: {{album.adesc}}</h6>
            <!-- <h6>{{album}}</h6> -->
            <!-- <h6>Address: {{album.adesc}}</h6> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% load qr_code %}
            {% qr_from_text album.adesc size=10 image_format="png" error_correction="L" %}
            <b>Transactions Status</b>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <table class="table table-borderless">
              <thead>
                <!-- <tr>
                  <th scope="col">1</th>
                  <th scope="col">2</th>
                  <th scope="col">To</th>
                  <th scope="col">Hash</th>
                </tr> -->
              </thead>
              <tbody style="word-break:break-all; word-wrap:break-all">
                <tr>
                  <th scope="row">From</th>
                  <td width="400" scope="row">0x564286362092d8e7936f0549571a803b203aaced</th>
                </tr>
                <tr>
                  <th scope="row">To</th>
                  <td width="400" scope="row">0x8c3fabcc2d5f7272e6e3f9c1dd64abe218aba277</th>
                </tr>
                <tr>
                  <th scope="row">Txn Hash</th>
                  <td width="400">0x231e29077abd98daaa960e2361b0aabd8f2fd3600981f5614dedd6ec807b74c3</th>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>
{% endblock %}